# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.tox/
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
